.square {
    width: 200px;
    height: 200px;
    border: black solid 1px;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
}